@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Bitter", sans-serif;
  outline: none;
}

body {
  @apply dark:bg-[#1F1F28];
}

audio {
  width: 300px;
  height: 25px;
}

audio::-webkit-media-controls-panel {
  @apply dark:bg-gray-700;
}
