@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Bitter", sans-serif;
  outline: none;
}

body {
  @apply dark:bg-[#16161D];
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 300px;
  height: 25px;
}
