* {
  @apply no-underline outline-none;

  body {
    h1 {
      @apply text-3xl font-bold tracking-wide sm:text-4xl;
    }

    audio {
      @apply h-[25px] w-[300px];

      ::-webkit-media-controls-panel {
        @apply dark:bg-cyan-400;
      }
    }
  }

  .underline-animation {
    @apply relative inline-block cursor-pointer;

    &:after {
      @apply absolute bottom-0 left-0 h-[2px] w-full origin-bottom-right bg-red-500 dark:bg-blue-500;
      content: "";
      transform: scaleX(0);
      transition: transform 0.25s ease-out;
    }

    &:hover:after {
      @apply origin-bottom-left;
      transform: scaleX(1);
    }
  }

  .hover-animation {
    @apply transition-all duration-200 ease-in-out;
  }

  .modal-blur {
    backdrop-filter: blur(5px);
  }
}
