@import "@unocss/reset/tailwind.css";
@unocss all;

@font-face {
  font-family: "Scheherazade New";
  font-style: normal;
  src: url("../../public/fonts/Scheherazade_New/ScheherazadeNew-SemiBold.ttf")
    format("truetype");
}

.arabic-font {
  font-family: "Scheherazade New", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

* {
  @apply no-underline outline-none;
}

body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

body::-webkit-scrollbar-thumb {
  @apply bg-rose-400 dark:bg-blue-500;
}

audio {
  @apply h-[25px] w-[300px];
}

.underline-animation {
  @apply relative inline-block cursor-pointer;
}

.underline-animation::after {
  @apply absolute bottom-0 left-0 h-[2px] w-full origin-bottom-right bg-red-500 dark:bg-blue-500;
  content: "";
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  @apply origin-bottom-left;
  transform: scaleX(1);
}

.hover-animation {
  @apply transition-all;
}

.modal-blur {
  backdrop-filter: blur(5px);
}

@media (max-width: 445px) {
  .select-qori {
    margin-top: 10px;
  }
}
